/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container{
    width:870px;
    background-color: #fff;
    padding: 30px;
    margin-top: 23px;
    border-radius: 5px;
}
.section-tittel{
    color: #562EFF;
    font-size: 24px;
    line-height: 36px;
    margin-top: 3px;

}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom:27px;
}
/* start top players style */
header {
    background-color:#562EFF;
    position: relative;
}
.nav-var{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:180px;
    margin-right:180px ;

}
.nav-var .logo img {
    width: 40.42px;
    height: 51px;
}
nav ul .nav-area{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-left: 20px;
    margin-right: 40px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
.nav-area .about-dropdown,.blogs-dropdrown{
    display: none;
}
.nav-area li:hover .about-dropdown {
    display:block;
    position: absolute;
    background-color: #FF4A60;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;

}
.nav-area li:hover .blogs-dropdrown {
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-gap: 30px;
    position: absolute;
    background-color: #FF4A60;
}



.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img {
    height: 56px;
    width: 56px;
}
.player h3{
    margin-left:16px;
    font-size: 18px;
}
/* start top blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:26px;
}
.blog{
    display: flex;
}
.blog img {
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-othor{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-othor a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;}

    /* start courses part styles */
    .courses{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 26px;
    }
    .course{
        width: 250px;
        height: 300px;
        background-color: #f3f3f3;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 10px 10px 40px gray;
    }

    .course-img img{
        width: 224px;
        height: 104px;
    }
    .course-info{
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .fa-star.full{
        color:#FFC014;
    }
    .fa-star.empty{
        color:#aeaeae;
    }
    .course-deuration{
    background-color:#FFE4E8;
    border-radius:15px;
    padding: 5px 10px;
    }
    .course-deuration .fa-clock{
        font-size: 20px;
        color:#FF4A60;
    }
    /* start media quary */

    /* mobile devises */
    @media only screen and (max-width:688px) {
        .container{
            width: 100%;
        }
        .players, .blogs,.courses{
            grid-template-columns: repeat(1,1fr);        
        }
        .player,.blog,.course{
            flex-direction: column;
        }
        
    }
    /* tablet devises */


    @media only screen and (min-width:688px) and (max-width:992px) {
        .container{
            width: 100%;
        }
        .players, .blogs, .course{
            grid-template-columns: repeat(2,1fr);  
        }
        .player,.blog,.course{
            flex-direction: column;
        }
    }